<!-- Services Start -->
<div class="container-fluid pt-5 px-3">
  <div class="text-center mx-auto mb-4" style="max-width: 600px;">
    <h1 class="display-5 mb-0">Our Services</h1>
    <hr class="w-25 mx-auto bg-primary">
  </div>
  <div class="row g-5">
    <div class="col-lg-4 col-md-6">
      <app-service-box [service]="services[0]"></app-service-box>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-service-box [service]="services[1]"></app-service-box>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-service-box [service]="services[2]"></app-service-box>
    </div>
  </div>
  <div class="row g-5 justify-content-center mt-4">
    <div class="col-lg-4 col-md-6">
      <app-service-box [service]="services[3]"></app-service-box>
    </div>
    <div class="col-lg-4 col-md-6">
      <app-service-box [service]="services[4]"></app-service-box>
    </div>
  </div>

</div>
<!-- Services End -->
