:host {
  position: fixed;
  float: right;
  cursor: pointer;
  right: 14px;
  bottom: 14px;
  z-index: 100;
  opacity: 2;
}

:host:hover {
  opacity: 1;
}

.scroll-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 100px;
  right: 80px;
  z-index: 99;
  text-align: center;
  border-radius: 50%;
  background-color: #c1d82f;
}

.scroll-top span:before {
  font-size: 27px;
}
.scroll-top:after {
  position: absolute;
  z-index: -1;
  content: "";
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 1;
  /* background: -webkit-radial-gradient(
    center,
    ellipse,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0.25) 0%,
    rgba(0, 0, 0, 0) 80%
  ); */
}

.scroll-icon {
  font-size: 30px;
  color: white;
}
