.venv/*
!.venv/app.py
!.venv/app_streamlit.py
!.venv/celery_module.py
!.venv/dashboard.py
!.venv/Dockerfile
!.venv/supervisord.conf
!.venv/requirements.txt
!.venv/migrations/
!.venv/static/
!.venv/templates/
