* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arvo", serif;
  }
  /* Style général du formulaire */
  #upload-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  /* Style du bouton */
  button[type="submit"] {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #2980b9;
  }
  
  /* Style de l'input de fichier */
  input[type="file"] {
    margin-bottom: 10px;
  }
  
  /* Style optionnel pour le centrage du bouton si nécessaire */
  @media (max-width: 768px) {
    button[type="submit"] {
      width: 100%;
    }
  }
  
  
  .options-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .option {
    cursor: pointer;
    background-color: #EEE;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.2s;
  }
  #import-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .option:hover {
    background-color: #DDD;
  }
  
  .search-container button {
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  body {
    min-height: 80vh;
  }
  
  #robo {
    float: right;
    position: sticky;
    top: 660px;
    z-index: 1;
    margin-right: 0.2rem;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  h1,
  h2 {
    color: rgb(175, 0, 0);
  }
  
  h3 {
    color: rgb(128, 127, 127);
  }
  
  .btn {
    background: rgb(175, 0, 0);
    font-size: 1.3rem;
    color: #eefdfd;
    padding: 8px 10px;
    text-align: center;
  }
  
  .btn:hover {
    color: #ffffff;
    background: rgb(175, 0, 0);
    padding: 8px 10px;
    border-bottom: 2px solid #ffffff;
  }
  
  .title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 10px;
    border-bottom: 2px solid #999;
  }
  
  .container {
    position: absolute;
    right: 0;
    width: 100vw;
    height: 70vh;
    background: #ffffff;
  }
  
  .container .header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 7vh;
    background: rgb(175, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .container .header .nav {
    width: 90%;
    display: flex;
    align-items: center;
  }
  
  .container .header .nav .search {
    flex: 3;
    display: flex;
    justify-content: start;
  }
  
  .container .header .nav .search h1 {
    color: white;
  }
  
  .container .header .nav .user {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container .header .nav .user img {
    width: 40px;
    height: 40px;
  }
  
  .container .header .nav .user .img-case {
    position: relative;
    width: 50px;
    height: 50px;
  }
  
  .container .header .nav .user .img-case img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .container .content {
    position: relative;
    margin-top: 3vh;
    min-height: 70vh;
    background: #ffffff;
  }
  
  .container .content .cards {
    padding: 15px 15px;
    padding-top: 110px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .container .content .cards .card {
    width: 590px;
    height: 39rem;
    background: white;
    margin: 23px 10px;
    text-align: center;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
  }
  
  .container .content .cards .card h1 {
    color: rgb(202, 5, 5);
  }
  
  .container .content .cards .card #bot-btn {
    background-color: rgb(145, 7, 7);
    color: white;
    padding: 9px 30px;
    margin-top: 6rem;
    font-weight: bold;
    font-size: 22px;
    border: none;
    box-shadow: 3px 3px 9px #999;
  }
  
  .container .content .cards .card #bot-btn:hover {
    background-color: rgb(151, 3, 3);
  }
  
  .container #smart-bot {
    position: relative;
    margin-top: 4vh;
    margin-left: 0px;
    min-height: 97vh;
    background: #eec5c5;
  }
  
  .container #smart-bot h1 {
    margin-top: 0px;
    margin-left: 30px;
  }
  
  .container #smart-bot .cards {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .container #smart-bot .cards .card1 {
    width: 590px;
    height: 39rem;
    background: #eec5c5;
    margin: 20px 10px;
    text-align: center;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
  }
  
  /*.container #smart-bot .cards .card2 {
    width: 469px;
    height: 40.1rem;
    background: white;
    margin: 0px 0px;
    text-align: left; /* Modification : Alignement à gauche */
    /*display: flex;
    font-size: 2rem;
    align-items: center;
    border: 3px solid #0000ff;
    box-shadow: 4px 4px 8px #999;
  }*/
  
  #smart-bot .card2 .box p {
    margin: 0; /* Suppression de la marge par défaut */
  }
  
  /*#smart-bot .card2 .box .user-message {
    color: blue; 
  }*/
  
  #smart-bot .card2 .box .user-message  p[sentTime]:hover::after {  
    right: 15px;
  }
  
  /*#smart-bot .card2 .box .bot-message {
    color: green; /* Modification : Couleur du message du chatbot */
  /*}*/
  
  #smart-bot .card2 .box .bot-message {
    display: flex;
    align-items: flex-start;
    position: relative;
    font-size: 16px;
    line-height: 20px;
    border-radius: 20px;
    word-wrap: break-word;
    white-space: pre-wrap;
    max-width: 100%;
    padding: 0 15px;
  }
  
  
  #smart-bot .card2 .box .avatar {
    float: left; /* Modification : Image de l'avatar alignée à gauche */
    margin-right: 10px; /* Modification : Espacement entre l'avatar et le message */
  }
  
  .container #videos {
    position: relative;
    min-height: 80vh;
    background: #ffffff;
  }
  
  .container #videos h1 {
    margin-top: 17px;
    margin-left: 30px;
  }
  
  .container #videos .cards {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .container #videos .cards .card {
    width: 590px;
    height: 39rem;
    background: white;
    margin: 20px 10px;
    text-align: center;
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: space-around;
  }
  
  .container #videos .cards .card iframe {
    border: 4px solid rgb(150, 10, 10);
  }
  
  .container #help {
    position: relative;
    min-height: 200px;
    background: #eec5c5;
  }
  
  .container #help h1 {
    margin-left: 30px;
  }
  
  .container #help h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(71, 70, 70);
    text-align: center;
  }
  
  @media screen and (max-width: 536px) {
    .container .content .cards .card {
      justify-content: center;
    }
  }
  
  .card2 {
    position: relative;
    height: 500px;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  #message-form {
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  #message-form input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    outline: none;
  }
  
  
  #input-container {
    flex: 1;
    height: 60px;
    border: 1px solid #eef1f5;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    transition: border-color 0.3s;
    background: #ffffff;
    color: #333333;
    border: none;
  }
  
  /*#message-form input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }*/
  
  #message-form button[type="submit"] {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  #message-form button[type="submit"]:hover {
    background-color: #ff0000;
  }
  
  /* Chatbot message style */
  .chat-message {
    display: flex;
    align-items: left;
    margin-bottom: 10px;
  }
  
  .chat-message .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc;
  }
  
  .chat-message .message {
    background-color: #eaf6ff;
    color: #000;
    padding: 10px;
    align-items: right;
  
    border-radius: 5px;
    margin-left: 10px;
  }
  #chatbox {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
  }
  
  .chat-message .timestamp {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
  }
  #chatbox .avatar {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  #chatbox .avatar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    border-top: 1px solid #eef1f5;
    padding: 10px;
  }
  
  .container #smart-bot .cards .card2  {
    width: 500px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }