<div class="wrapper">
  <div class="footer">
    <div class="container-fluid bg-dark text-secondary p-1">
      <div class="row g-2 align-items-center">
        <div class="col-lg-12 col-md-12">
          <address class="contact-info">
            <h5 class="text-white mb-1">CONTACT</h5>
            <p><i class="bi bi-geo-alt text-primary me-1"></i>Résidence Baya, Jardin de carthage, LaMarsa, Tunis, Tunisia</p>
            <p><i class="bi bi-envelope-open text-primary me-2"></i>recrutementunisie@finlogik.com</p>
            <p><i class="bi bi-telephone text-primary me-2"></i>+216 74 259 872</p>
          </address>
        </div>
      </div>
    </div>
  </div>
</div>
