<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="1500">
      <img src="../../../assets/images/blog-1.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-text">
          <h5 class="text-white text-uppercase">Explore Our Option Pricing Models</h5>
          <h1 class="display-1 text-white mb-md-4">Unlock Precision in Your Option Strategies!</h1>
          <a routerLink="option-pricing" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">Option Pricing</a>
        </div>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="1500">
      <img src="../../../assets/images/blog-2.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-text">
          <h5 class="text-white text-uppercase">Exchange Rate Prediction</h5>
          <h1 class="display-1 text-white mb-md-4">Your Virtual Assistant for Currency Forecasting</h1>
          <a routerLink="prevision" class="btn btn-primary py-md-3 px-md-5 me-3 rounded-pill">Start Predicting</a>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
