<div class="container-fluid bg-secondary p-0">
  <div class="row g-0">
    <!-- First part for Option Pricing -->
    <div class="col-lg-6 py-6 px-5">
      <h1 class="display-5 mb-4">Discover
        <span style="color: #c0d72e; font-weight: bold; ">FIN</span>
        <span style="color: #666666; font-weight: bold; ">LOGIK</span>
        <span style="color: #c0d72e; font-weight: bold; font-size: 1.3em;">&gt;</span>
      </h1>
      <h4 class="text-primary mb-4">
        Foreign Exchange Option Pricing
      </h4>
      <p class="mb-4">
        With FinlogiK, access a precise and fast solution for foreign exchange option pricing. Our platform uses advanced financial models, such as the Garman-Kohlhagen model, to provide you with accurate and up-to-date option pricing. Whether you're an experienced trader or a beginner, our tools will help you make informed decisions.
      </p>
      <a routerLink="option-pricing" class="btn btn-primary py-md-3 px-md-5 rounded-pill">Option Pricing</a>
    </div>

    <!-- Second part for Exchange Rate Prediction -->
    <div class="col-lg-6 py-6 px-5 bg-primary">
      <h1 class="display-5 text-white mb-4">Discover our <span class="text-secondary">Exchange Rate Prediction</span></h1>
      <h4 class="text-secondary mb-4">
        Anticipate market fluctuations.
      </h4>
      <p class="text-white mb-4">
        FinlogiK allows you to accurately predict exchange rates using advanced predictive models. Whether you are an investor, analyst, or market enthusiast, our exchange rate forecasting tool helps you anticipate market movements and make strategic decisions based on reliable data.
      </p>
      <a routerLink="prevision" class="btn btn-secondary py-md-3 px-md-5 rounded-pill">Exchange Rate Forecast</a>
    </div>
  </div>
</div>
